<h1>Welcome to the Train System</h1>

<h3>Are you an operator? Click here:<button class ="btn danger"><a href="/operator">I am an operator</a></button></p>
<br>
<br>
<h3>Are you a rider? Click here:<button class ="btn success"><a href="/rider"> I am a rider</a></button></p>
