<h1>Add a new word!</h1>

<form action="/words_homepage" method="post">
  <div class="form-group">
    <label for="word_term">New Word:</label>
    <input id="n" name="word_term" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>