<h2>Add a train</h2>


<form action="/operator" method="post">
  <div class="form-group">
    <label for="new_train">Add a Train</label>
    <input type="text" name="new_train">
    <label for="new_city">Add a City</label>
    <input type="text" name="new_city">
  </div>
  <button type="submit" class="btn btn-success">Add a new route</button>
</form>